# SCS2013 Python Programming Homework 1

About Variables, basic Data Types, and basic Operators.

## HW 1-1. Variable (변수)

Instruction:
1. **(5pt)** Create a variable with the name `year`, and assign it the value of `2021`. 
2. **(5pt)** Print the value using `print()`.

In [ ]:
# 1
year = 2021

In [ ]:
# 2
print(year)

2021

## HW 1-2. Mathematical Operators

Instruction: 
1. **(5pt)** Create a variable called `a` and set it equal to 4235 plus 1865

2. **(5pt)** Create a variable called `b` and set it equal to 9621.3 minus 4025.51

3. **(5pt)** Create a variable called `c` and set it equal to 862 multiplied by 42

4. **(5pt)** Create a variable called `d` and set it equal to 993 divided by 31

5. **(5pt)** Create a variable called `e` and set it equal to the remainder from dividing 200 by 7

**Hint**: You need to use mathematical operators (`* - / + %`) for this to work.

In [ ]:
# 1
a = 4235+1865

In [ ]:
# 2
b = 9621.3-4025.51

In [ ]:
# 3
c = 862*41

In [ ]:
# 4
d = 993/31

In [ ]:
# 5
e = 200%7

## HW 1-3. Python Operators

1. **(5pt)** Compute the value of `20` divided by `4` using Python operator, and print it. 
  * **note**: Is it `5` or `5.0`? The result of the division is always of type `float`. 

2. **(10pt)** Create a variable called `result` and set it equal to the value of $1 + 3 \times 2^4$. Then print `result` using `print()`.

3. **(10pt)** Create a variable called `x` and set it equal to a string `'hi'`. Create another variable called `y` and set it equal to a string `'Hi'`. Check whether two variables `x` and `y` have the same value.

In [ ]:
# 1
20/4

5.0

In [ ]:
# 2
result = 1+3*2**4
print(result)

49

In [ ]:
# 3
x = 'hi'
y = 'hi'
x == y

True