# SCS2013 Python Programming Homework 2

About Conditional (If), Loop (For, While) Statements and List, Tuple, Dictionary data structures

## HW 2-1. Loop 

Instruction:
1. **(10pt)** Print squares of integers from $1$ to $10$ using `for` loop. The result will be `1, 4, 9, 16, 25, 36, 49, 64, 81, 100`.

2. **(10pt)** Print squares of integers from $1$ to $10$ using `while` loop. The result will be `1, 4, 9, 16, 25, 36, 49, 64, 81, 100`.

In [ ]:
# 1
for i in range(1,11):
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
i = 1
while i>11:
  print(i**2)
  i= i+1

In [ ]:
# 2
x = 1
while x<11:
  print(x**2)
  x = x+1

1
4
9
16
25
36
49
64
81
100

## HW 2-2. If-Elif-Else

Instruction: 

Use conditional statement `if-elif-else` to check if a person has a `normal` temperature, or `fever`, or `hypothermia`. The conditions below are applied in the order as it is described.

1. **(1pt)** Create a variable called `temperature`, and assign a value $36.4$.
2. **(5pt)** If `temperature` is **above or equal** to $37.5$, print `"Fever"`.
3. **(5pt)** Else if `temperature` is **under or equal** to $35.0$, print `"Hypothermia"`.
4. **(4pt)** Otherwise, print `"Normal"`. 

**Note**: Play yourself by assigning different values of `temperature`: i.e., $32.3$, $36.3$, $38.1$.

In [ ]:
# 1
temperature = 36.4

# 2-4
if temperature >= 37.5:
  print('Fever')
elif temperature <= 35.0:
  print('Hypothermia')
else:
  print('Normal')

Normal

## HW 2-3. List

Instruction:
1. **(5pt)** Create a list called `animal` with elements of `cat, dog, chicken, duck`. Elements should be `string` type, and included in order as it is described.

2. **(5pt)** Get the value `dog` **by using list index**.

3. **(5pt)** Add new element `tiger` at third position using `insert` method and print the list `animal`.

In [ ]:
# 1
animal = ["cat", "dog", "chicken", "duck"]
animal

['cat', 'dog', 'chicken', 'duck']

In [ ]:
# 2
print (animal[1])

dog

In [ ]:
# 3
animal.insert(2, "tiger")
print(animal)

['cat', 'dog', 'tiger', 'chicken', 'duck']

## HW 2-4. Dictionary

Instruction: 
1. **(5pt)** Create a dictionary called `information` with key-value pairs `'name'-'Lee', 'age'-24, 'birth'-['May',4]`. Then, print `information`. 

2. **(5pt)** Add a key-value pair `'height'-163`. Then, print `information`.

3. **(10pt)** Make a copy of `information`, called `information_cpy`. Delete or pop `'age'-24` key-value pair from `information_cpy`. Then, print `information` and `information_cpy` to check the task is performed correctly.

In [ ]:
# 1
information = {'name':'Lee', 'age':24, 'birth':['May',4]}
print(information)

{'name': 'Lee', 'age': 24, 'birth': ['May', 4]}

In [ ]:
# 2
information_2 = {'height':163}
information.update(information_2)
print(information)

{'name': 'Lee', 'age': 24, 'birth': ['May', 4], 'height': 163}

In [ ]:
# 3
information_cpy = information.copy()
del information_cpy ['age']
print(information)
print(information_cpy)

{'name': 'Lee', 'age': 24, 'birth': ['May', 4], 'height': 163}
{'name': 'Lee', 'birth': ['May', 4], 'height': 163}

## HW 2-5. For loop, If statement and List

Instruction: 
1. **(10pt)** Print numbers in range $[100,200]$ (i.e., from $100$ to $200$ both values included) that are multiple of $8$, using `for` loop. 

2. **(10pt)** Create a list called `multiples_8` that has multiples of $8$ in range $[100,200]$ as elements, using `for` loop. Then, print `multiples_8` to check the numbers are same as in 1. 

3. **(10pt)** Given list `lst`, print all elements having `string` type.

In [ ]:
# 1
i = range(100,200)
for a in i:
  if a%8 == 0:
    print(a)

104
112
120
128
136
144
152
160
168
176
184
192

In [ ]:
# 2
multiples_8 = [i for i in range(100,200) if i%8 == 0 ]
print(multiples_8)

[104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192]

In [ ]:
lst = ['Kim', 3, 'Lee', 6, 'Park', 8, 10]
a = str(lst)
# 3
print(a)
#print(type(a[1]))

['Kim', 3, 'Lee', 6, 'Park', 8, 10]
<class 'str'>